body {
  overflow: hidden;
  font-family: Oswald;
}

h1 {
  bottom: 0;
  color: white;
  font-size: 4em;
  left: 32%;
  position: absolute;
  z-index: 10;
}

p{
  z-index: 7;
  color: white;
  position: absolute;
}


/* --------------------------------------CANVAS-------------------------------------- */
#galaxy{
  opacity: 1;
  z-index: 5;
}
#canvas{
  opacity: 0.4;
  z-index: 6
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
}


/* --------------------------------------LOGO-------------------------------------- */
.logo {
  animation: rotate 100s linear infinite;
  left: 35%;
  position: absolute;
  top: 25%;
  width: 30%;
  z-index: 10;
}

@keyframes rotate {
  0% {
    opacity: 0.9;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}

/* --------------------------------------NAV-------------------------------------- */

.nav{
  position: absolute;
  z-index: 11;
  right: 0;
  top: 0;
}
li{
  font-size: 1.5em;
  list-style: none;
  display: inline-block;
}
a{
  margin: 5px;
  color: white;
  text-decoration: none;
  opacity: 0.4;
  transition: all 500ms;
}
a:hover{
  opacity: 1;
}










