body {
  background: #060e1b;
  overflow: hidden;
}

h1 {
  bottom: 0;
  color: white;
  font-size: 4em;
  left: 27%;
  position: absolute;
}

.logo {
  left: 35%;
  position: absolute;
  top: 25%;
  width: 30%;
}

/* Background */
.etoile {
  opacity: 0.5;
  position: absolute;
  width: 65px;
}

.etoile1 {
  left: 30%;
  top: 10%;
}

.etoile2 {
  left: 70%;
  top: 20%;
}

.etoile3 {
  left: 15%;
  top: 50%;
}

.etoile4 {
  left: 80%;
  top: 55%;
}

.etoile:hover {
  animation: scintillement 1s ease-in-out infinite;
}

/* Animations */
@keyframes scintillement {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
