body {
  overflow: hidden;
}
#galaxy{
  opacity: 1;
  z-index: 5;
}
#canvas{
  opacity: 0.4;
  z-index: 6
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  bottom: 0;
  color: white;
  font-size: 4em;
  left: 27%;
  position: absolute;
  z-index: 10;
}

.logo {
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  left: 35%;
  position: absolute;
  top: 25%;
  width: 30%;
  z-index: 10;
}

/* Background */
.etoile {
  position: absolute;
  width: 65px;
  z-index: 10;
}

.etoile1 {
  left: 30%;
  top: 10%;
  z-index: 10;
}

.etoile2 {
  left: 70%;
  top: 20%;
  z-index: 10;
}

.etoile3 {
  left: 15%;
  top: 50%;
  z-index: 10;
}

.etoile4 {
  left: 80%;
  top: 55%;
  z-index: 10;
}

.etoile:hover {
  animation: scintillement 1s ease-in-out infinite;
}

/* Animations */
@keyframes scintillement {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    opacity: 0.9;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}

/*ETOILE*/

svg {
  position: absolute;
/*  -webkit-transform: translate(102%, 350%);
  transform: translate(102%, 350%);*/
}
.group {
    -webkit-transform: translate(42.5px,42.5px);
    -moz-transform: translate(42.5px,42.5px);
    transform: translate(42.5px, 42.5px);
}
path {
    -webkit-transform: translate(-42.50px,-42.50px);
    -moz-transform: translate(-42.50px,-42.50px);
    transform: translate(-42.50px,-42.50px);
}
.large {
  -webkit-animation: large 5s infinite;
  -moz-animation: large 5s infinite;
}
.large-2 {
  -webkit-animation: large-2 5s infinite;
  -moz-animation: large-2 5s infinite;
}
.small {
  -webkit-animation: small 5s infinite;
  -moz-animation: small 5s infinite;
}
@-webkit-keyframes large {
  0% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.5);
    transform: rotate(0deg) scale(0.5);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: rotate(360deg) scale(1.5);
    transform: rotate(360deg) scale(1.5);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.5);
    transform: rotate(0deg) scale(0.5);
  }
}
@-moz-keyframes large {
  0% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.5);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: rotate(360deg) scale(1.5);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.5);
  }
}
@-webkit-keyframes large-2 {
  0% {
    opacity: 0.5;
    -webkit-transform: rotate(45deg) scale(0.5);
    transform: rotate(45deg) scale(0.5);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: rotate(405deg) scale(1.1);
    transform: rotate(405deg) scale(1.1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: rotate(45deg) scale(0.5);
    transform: rotate(45deg) scale(0.5);
  } 
}
@-moz-keyframes large-2 {
  0% {
    opacity: 0.5;
    transform: rotate(45deg) scale(0.5);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: rotate(405deg) scale(1.1);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: rotate(45deg) scale(0.5);
  }
}
@-webkit-keyframes small {
  0% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.5);
    transform: rotate(0deg) scale(0.5);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: rotate(-360deg) scale(1);
    transform: rotate(-360deg) scale(1.5);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    -webkit-transform: rotate(0deg) scale(0.5);
    transform: rotate(0deg) scale(0.5);
  }
}
@-moz-keyframes small {
  0% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.5);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: rotate(-360deg) scale(1.5);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: rotate(0deg) scale(0.5);
  }
}